////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//  Repo:           devops
//  File Name:      /vault/vmware/terraform.tfvars.example
//  Author:         Patrick Gryzan
//  Company:        Hashicorp
//  Date:           November 2020
//  Description:    This is an example of how to deploy a Vault cluster with a Consul data store
//                  The default configuartion is a 3 (Vault) x 5 (Consul) cluster spread across 3 AWS availability zones.
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  VSphere Credentials
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
vsphere             = {
    user            = ""
    password        = ""
    server          = ""
    datacenter      = ""
    datastore       = ""
    cluster         = ""
    network         = ""
    domain          = ""
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  SSH Credentials
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
ssh                 = {
    key_name        = "<YOUR SSH KEY NAME>"
    private_key     = <<EOF
<YOUR SSH KEY>
    EOF
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Workspace Information
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
info                = {
    name            = "demo"
    data_center     = "demo"
    consul_version  = "1.8.5"
    consul_license  = ""
    consul_encrypt  = "oTDo06Zo3Zx26kegThMF6VUz8MmhKms0q3FmkjsK6Vg="
    vault_version   = "1.5.5"
    vault_license   = ""
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Vault Transit Server Configuration
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
transit             = {
    ip              = "XXX.XXX.XXX.XXX"
    cpus            = 1
    memory          = 2048
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Zone Deployment Configuration
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
storage_zones       = {
    1               = "XXX.XXX.XXX.XXX"
    2               = "XXX.XXX.XXX.XXX"
    3               = "XXX.XXX.XXX.XXX"
    4               = "XXX.XXX.XXX.XXX"
    5               = "XXX.XXX.XXX.XXX"
}

vault_zones         = {
    1               = "XXX.XXX.XXX.XXX"
    2               = "XXX.XXX.XXX.XXX"
    3               = "XXX.XXX.XXX.XXX"
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Image Configuration
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
image               = {
    name            = ""
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Server Configuration
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
server              = {
    cpus            = "2"
    memory          = 8192
    netmask         = 24
    gateway         = "XXX.XXX.XXX.XXX"
}