////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//  Repo:           devops
//  File Name:      /vault/aws/terraform.tfvars.example
//  Author:         Patrick Gryzan
//  Company:        Hashicorp
//  Date:           November 2020
//  Description:    This is an example of how to deploy a Vault cluster with a Consul data store
//                  The default configuartion is a 3 (Vault) x 5 (Consul) cluster spread across 3 AWS availability zones.
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  AWS Credentials
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
aws                 = {
    access_key      = ""
    secret_key      = ""
    region          = "us-east-2"
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  SSH Credentials
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
ssh                 = {
    key_name        = "<AWS KEY NAME>"
    private_key     = <<EOF
<PASTE YOUR CERT HERE>
    EOF
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Workspace Information
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
info                = {
    name            = "demo"
    data_center     = "demo"
    consul_version  = "1.8.5"
    consul_license  = ""
    consul_encrypt  = "oTDo06Zo3Zx26kegThMF6VUz8MmhKms0q3FmkjsK6Vg="
    vault_version   = "1.5.5"
    vault_license   = ""
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Vault Transit Server Configuration
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
transit             = {
    zone            = "us-east-2a"
    type            = "m5.large"
    volume_size     = 50
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Zone Deployment Configuration
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
storage_zones       = {
    1               = "us-east-2a"
    2               = "us-east-2a"
    3               = "us-east-2b"
    4               = "us-east-2c"
    5               = "us-east-2c"
}

vault_zones         = {
    1               = "us-east-2a"
    2               = "us-east-2b"
    3               = "us-east-2c"
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Image Configuration
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
image               = {
    name            = "ami-000e7ce4dd68e7a11"
    username        = "centos"
}